/*styles for 1920px 1080px web page*/
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#frmLogin{
    right: 40px;
    top:40px;
    width: 679px;
    display: block;
    position: fixed;
}
#frmLogin input{
    border-radius: 15px;
    border: 1px solid #004CFF;
    padding: 0px 0px 0px 10px;
    width: 271px;
    height: 33px;
    color: #004CFF;
    font-size: 16px;
    margin-right: 10px;
    
}
#frmLogin button{
    width: 107px;
    height: 33px;
    background-color: #FFEC3D;
    border: 0px;
    border-radius: 15px;
    font-size: 16px;
}
.logo{
    width: 481px;
    position: fixed;
}
.logo h1{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: 10px 0px 0px 10px;
    float: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}
.logo p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: left;
    margin: 0px 0px 0px 10px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}
.logo img{
    float: left;
}
.header{
    background-color:#159EE5;
    padding: 20px 0px 0px 40px;
    height: 117px;
    position: fixed;
    width: 100%;
}
.footer{
    background-color:#159EE5;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    height: 51px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 17px;
}
.signUp{
    margin-top: 117px;
    display: block;
    background-color: #ECECEC;
    width: 38.333333%;
    height: 912px;
    float: right;
    padding-top: 100px;
}
.background_img{
    padding-top: 150px;
    margin-top: 117px;
    display: block;
    float: left;
    width: 61.66666666666667%;
}
.background_img img{
    display: block;
    margin: auto;
}
#frmSignUp{
    margin:auto;
    display: block;
    width: 571px;
    
}
#frmSignUp h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px 0px;
}
#frmSignUp p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px 0px;
}
#frmSignUp input{
    height:33px;
    border-radius: 5px;
    border: 1px solid #9E9E9E;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin:0px 0px 10px 0px;
}
#frmSignUp #txtFirstName, #txtLastName, #txtEmail, #txtMobileNo{
    width: 280px;
}
#frmSignUp #txtNic, #txtAddress{
    width: 571px;
}
#frmSignUp #txtFirstName{
    margin-right: 5px;
}
#frmSignUp #txtEmail{
    margin-right: 5px;
}
#frmSignUp #rdoProfeser{
    margin-left: 20px;
}
#frmSignUp #rdoProfeser, #rdoStudent{
    width: 20px;
}
#frmSignUp #txtRdo{
    padding: 0px 5px 0px 5px;
    font-size: 16px;
    display: inline-block;
    margin-left: 5px;
    overflow: hidden;
}
hr{
    border-top: 1px solid #70707083;
}
#frmSignUp #txtNewPassword{
    width: 386px;
    height: 40px;
}
#frmSignUp #txtConformPassword{
    width: 386px;
    height: 40px;
}
#btnCreateAccount{
    width: 256px;
    height: 76px;
    background-color: #2863B1;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    margin: auto;
    display: block;
}
#temaAndCondition{
    padding-top: 33px;
    display: block;
    margin: auto;
    color: #004CFF;
    text-align: center;
}
/* image for 1600px web page*/
@media screen and (max-width: 1500px){
    .background_img img{
        display: block;
        width: 479px;
        margin: auto;
    }
}

/* style for 1366px 768px web page */
@media screen and (max-width: 1366px){
    * {
        box-sizing: border-box;
    }
    body{
        margin: 0px;
    }
    #frmLogin{
        right: 32px;
        top:28px;
        width: 483px;
        display: block;
        position: fixed;
    }
    #frmLogin input{
        border-radius: 10px;
        border: 1px solid #004CFF;
        padding: 0px 0px 0px 10px;
        width: 192px;
        height: 24px;
        color: #004CFF;
        font-size: 11px;
        margin-right: 5px;
        
    }
    #frmLogin button{
        width: 76px;
        height: 24px;
        background-color: #FFEC3D;
        border: 0px;
        border-radius: 15px;
        font-size: 16px;
    }
    .logo{
        width: 333px;
        position: fixed;
    }
    .logo h1{
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin: 10px 0px 0px 10px;
        float: left;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    }
    .logo p{
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        float: left;
        margin: 0px 0px 0px 10px;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    }
    .logo img{
        float: left;
        width: 62px;
        
    }
    .header{
        background-color:#159EE5;
        padding: 10px 0px 0px 40px;
        height: 83px;
        position: fixed;
        width: 100%;
    }
    .footer{
        background-color:#159EE5;
        color: white;
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        height: 36.27px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        text-align: center;
        padding: 12px;
    }
    .signUp{
        margin-top: 10px;
        display: block;
        background-color: #ECECEC;
        width: 38.333333%;
        float: right;
        padding-top: 100px;
    }
    .background_img{
        padding-top: 100px;
        margin-top: 60px;
        display: block;
        float: left;
        width: 61.66666666666667%;
    }
    .background_img img{
        display: block;
        width: 379px;
        margin: auto;
    }
    #frmSignUp{
        margin:auto;
        display: block;
        width: 406px;
    }
    #frmSignUp h2{
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 0px 10px 0px;
    }
    #frmSignUp p{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 0px 7px 0px;
    }
    #frmSignUp input{
        height:23px;
        border-radius: 5px;
        border: 1px solid #9E9E9E;
        padding-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        margin:0px 0px 8px 0px;
    }
    #frmSignUp #txtFirstName, #txtLastName, #txtEmail, #txtMobileNo{
        width: 199px;
    }
    #frmSignUp #txtNic, #txtAddress{
        width: 406px;
    }
    #frmSignUp #txtFirstName{
        margin-right: 4px;
    }
    #frmSignUp #txtEmail{
        margin-right: 4px;
    }
    #frmSignUp #rdoProfeser{
        margin-left: 20px;
    }
    #frmSignUp #rdoProfeser, #rdoStudent{
        width: 17px;
    }
    #frmSignUp #txtRdo{
        padding: 0px 5px 0px 5px;
        font-size: 11px;
        display: inline-block;
        margin-left: 5px;
        overflow: hidden;
    }
    hr{
        border-top: 1px solid #70707083;
    }
    #frmSignUp #txtNewPassword{
        width: 274px;
        height: 29px;
    }
    #frmSignUp #txtConformPassword{
        width: 274px;
        height: 29px;
    }
    #btnCreateAccount{
        width: 178px;
        height: 54px;
        background-color: #2863B1;
        border-radius: 12px;
        font-size: 14px;
        color: white;
        margin: auto;
        display: block;
    }
    #temaAndCondition{
        padding-top: 20px;
        display: block;
        margin: auto;
        color: #004CFF;
        text-align: center;
    }
}